<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxw.member.mapper.LabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="LabelVOMap" type="com.mxw.common.model.vo.LabelVO">
        <result column="label_name" property="name" />
        <result column="weight" property="value" />
    </resultMap>

    <select id="selectListBySellerId" resultType="com.mxw.common.model.vo.LabelVO">
    SELECT sl.label_name as name ,sbl.weight as value FROM shop_buyer_label sbl LEFT JOIN shop_label sl ON sbl.label_id = sl.label_id WHERE sbl.seller_id=#{sellerId}
    </select>
</mapper>